body {
    width: 90%;
    max-width: 900px;
    margin:0 auto;
}

* {
    box-sizing:border-box;
}

p {
    display:inline;
    margin-right:15px;
    }

.header {
    background-color: deepskyblue;
    float: left;
    width: 20%;
    height: 900px;
    margin-right: 5%;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

.main {
    float:right;
    width: 75%;
    height: 900px;
}

